[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/lib/jenkins/workspace/FARMS/
ExecStart=/var/lib/jenkins/workspace/FARMS/env/bin/gunicorn \
          --workers 3 \
          --log-level debug \
          --error-logfile /var/lib/jenkins/workspace/FARMS/error.log \
          --bind unix:/run/gunicorn.sock \
          FARMS.wsgi:application

[Install]
WantedBy=multi-user.target
